@font-face {
    font-family: poppins-regular;
    src: url(main_res/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppins-thick;
    src: url(main_res/Poppins/Poppins-SemiBold.ttf);
}

.top-bar {
    width: 100%;
    height: 10%;
    background-color: rgb(230, 230, 230);
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 42.5vw 42.5vw;
    grid-template-rows: repeat(12.6vh);
    gap: 5vw;
    padding: 20px;
}

.chess-button-image {
    display: block;
    position: relative;
    width: 42.5vw;
    height: 12.6vh;
    object-fit: cover;
    border-radius: 16px;
    border-width: 4px;
    border-color: black;
    border-style: solid;
}

.chess-button-text {
    position: absolute;
    bottom: 1vh;
    left: 2vw;
    color: whitesmoke;
    font-size: 3rem;
    font-family: poppins-thick;
    text-shadow: 0px 0px 8px black;
}

.ycd-logo {
    width: auto;
    height: 6vh;
    margin-top: 2vh;
    margin-left: 2vh;
}