@font-face {
    font-family: poppins-regular;
    src: url(main_res/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppins-thick;
    src: url(main_res/Poppins/Poppins-SemiBold.ttf);
}

.top-bar {
    width: 100%;
    height: 10vh;
    background-color: rgb(230, 230, 230);
}

.grid-container {
    display: grid;
    background-color: rgb(245, 245, 245);
    grid-template-columns: 44vw 44vw;
    grid-template-rows: repeat(12.6vh);
    gap: 4vw;
    padding: 4vw;
}

.button-image {
    display: block;
    position: relative;
    width: 44vw;
    height: 12.6vh;
    object-fit: cover;
    border-radius: 1.2vw;
    border-width: 4px;
    border-color: black;
    border-style: solid;
}

.button-text {
    position: absolute;
    bottom: 1.2vh;
    left: 2.2vw;
    color: whitesmoke;
    font-size: 3rem;
    font-family: poppins-thick;
    text-shadow: 0px 0px 8px black;
}

.ycd-logo {
    width: auto;
    height: 6vh;
    margin-top: 2vh;
    margin-left: 2vh;
}

.coming-soon-image {
    display: block;
    position: relative;
    width: 44vw;
    height: 12.6vh;
    object-fit: none;
    border-radius: 1.2vw;
    border-width: 4px;
    border-color: black;
    border-style: solid;
}

.coming-soon-columns {
    display: grid;
    grid-auto-flow: column;
    width: 100vh;
    height: 90vh;
}